{% extends 'neighbour/home.html' %}
{% block content %}
{% load bootstrap5 %}

<form class="hood"style="color:black;"action="{% url 'community'%}" method="post" enctype="multipart/form-data">
    {% csrf_token%} {% bootstrap_form form %}
    <div class="form-group text-center">
        <input type="submit" class="btn btn-primary hood-btn" value="Create Community">
    </div>
    <input type="hidden" name="next" value="{{next}}">

</form>
<style>
.hood{
margin-right: auto;  
margin-left: auto;
width: 30% !important;
padding: 30px;
}

</style>

{% endblock content %}
